<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="javaMailSender" class="org.springframework.mail.javamail.JavaMailSenderImpl">
        <property name="host" value="smtp.163.com"></property>
        <property name="port" value="465"></property>
        <property name="username" value="m15037511286@163.com"></property>
        <property name="password" value="5845211314wcy."></property>
        <property name="javaMailProperties">
            <props>
                <prop key="mail.smtp.auth">true</prop>
                <prop key="mail.smtp.timeout">25000</prop>
                <prop key="mail.smtp.socketFactory.class">javax.net.ssl.SSLSocketFactory</prop>
                <!-- 如果是网易邮箱， mail.smtp.starttls.enable 设置为 false-->
                <prop key="mail.smtp.starttls.enable">false</prop>
            </props>
        </property>
    </bean>

    <!--邮件发送工具类-->
    <!--<bean id="mailUtil" class="cn.itcast.erp.util.MailUtil">
        <property name="sender" ref="javaMailSender"/>
        <property name="from" value="m15037511286@163.com"/>
    </bean>-->
</beans>